@font-face {
    font-family: Monotype Corsiva;
    src: url("./assets/fonts/monotypecorsiva.ttf")
}

body {
    background-image: url('./assets/img/bg2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 700px;
    padding: 20px;
}

.textarea {
    margin-top: 2%;
    margin-left: 27%;
    background-color: rgba(255, 248, 220, 0.6);
    width: 500px;
    height: 280px;
    border: 3px solid #a23dbb;
    border-radius: 20px;
    font-family: Monotype Corsiva;
    font-size: 20px;
    color: #696969;
}

.keyboard-wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    background: #340041;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    user-select: none;
    height: 260px;
    transition: bottom 0.4s;
}
.opacity {
    opacity: 0.5;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    text-align: center;
}
.keyboard-key {
    height: 45px;
    width: 5%;
    max-width: 90px;
    margin: 3px;
    border-radius: 50%;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 22px;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center; 
    padding: 0;
    font-family: Monotype Corsiva;
    

}

.keyboard-key:active {
    background: rgba(255, 255, 255, 0.12);
}
.keyboard-wide {
    width: 8%;
}
.keyboard-space {
    padding: 0 16.5%;
    border-radius: 40%;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.active {
    background: rgba(255, 255, 255, 0.12);
}
.active-caps {
    background: rgba(255, 255, 255, 0.13);
}

@media (max-width: 1280px) {
    body {
        background-size: 100% 500px;
    }
}
@media (max-width: 1279px) {
    
    .textarea {

        width: 400px;
        height: 140px; 
    }
    .keyboard-wrapper {
        left: 150px;
        width: 70%;
    }
    .keyboard-key{
        
        font-size: 12px;
    }
    .keyboard-space {
        padding: 0 17%;
    }
}

@media (max-width: 1100px) {
    .keyboard-space {
        padding: 0 17.2%;
    }
}
@media (max-width: 767px) {
    .textarea {
        margin: 0 auto;
        width: 400px;
        height: 130px; 
    }
    .keyboard-wrapper {
        height: 300px;
        left: 0;
        width: 100%;
    }
    .keyboard {
        padding: 25px;
    }
    .keyboard-key{
        width: 5%;
    }
    .keyboard-wide {
        width: 6%;
    }
    .keyboard-space {
        padding: 0 17.2%;
    }
}
.none {
    display: none;
}

@keyframes fade {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

.modal-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 877px;
    background-color: rgba(41, 41, 41, 0.6);
    z-index: 3;
}
.modal {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    width: 500px; 
    top: 7%;
    left: 35%;
    animation-name: fade;
    animation-duration: 0.5s;
}
.modal-wrapper.show {
    display: block;
}
.modal-wrapper.hidden {
    display: none;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 300px;
    border-radius: 9px;
    gap: 29px;
    background: rgba(255, 255, 255, 0.8);
    padding-bottom: 5px;
}
.modal-title {
    text-align: center;
    width: 350px;
    height: 60px;
    font-family: Monotype Corsiva;
    font-size: 24px;
    font-weight: 400px;
    color: #000000;
}

.modal-text {
    padding: 0;
    margin: 0;
    width: 350px;
    height: 29px;
    font-family: Georgia;
    font-size: 16px;
    font-weight: 400px;
    color: #000000;
}

.modal-button {
    cursor: pointer;
    margin-left: 78%;
    width: 40px;
    height: 40px;
    border: 2px solid #340041;
    border-radius: 50%;
    background: inherit;
    color: #000000;
}


.modal-wrapper:hover {
    cursor: pointer;
}
.modal-content:hover {
    cursor: default;
}
.modal-wrapper:hover .modal-button {
    background: #491c55;
}

.modal:hover .modal-button {
    background: #491c55;
}


.modal:hover .modal-button {
    background: #491c55;
}
.modal-content:hover  + .modal-button {
    background: inherit;
}
.modal-button:hover {
    background: #491c55;
}